    *.sln
    *.userprefs
    *.csproj
    *.pidb
    *.unityproj
    .DS_Store
    Unity/Library/FailedAssetImports.txt
    Unity/Library/cache/
    Unity/Library/previews/
    Unity/Library/ScriptAssemblies/*.dll
    /obj
    /Temp
